@import "tailwindcss";

/* small helpers */
html,body,#__next { height: 100%; }
body { @apply bg-gray-50 text-gray-800; font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }

.bg-gradient-soft {
  @apply bg-gradient-to-b from-gray-50 to-gray-100;
}

.line-clamp-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
