@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #__next {
    height: 100%;
  }

  body {
    color: #374151; /* text-gray-700 */
    background-color: #F9FAFB; /* bg-gray-50 */
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  a {
    color: #2563EB; /* text-blue-600 */
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
